/* Reviews styles */

.reviews {
  margin-bottom: 32px;
}

.reviews h3 {
  border-bottom: 2px solid;
  padding-bottom: 5px;
  margin-bottom: 8px;
}

.blue.reviews h3 {
  border-bottom-color: #004d99;
  color: #004d99;
}
.green.reviews h3 {
  border-bottom-color: #008000;
  color: #008000;
}
