/* Reviews styles */

.reviews {
  margin-bottom: 32px;
}

.blue.reviews h3 {
  border-bottom-color: #004d99;
  color: #004d99;
}
.green.reviews h3 {
  border-bottom-color: #008000;
  color: #008000;
}
