.blue {
  --background-color: #f9f9f9;
  --text-color: #333;
  --button-text-color: white;
  --cancel-button-background: #ff5722;
  --cancel-button-background-dark: red;
  --container-background: white;
  --container-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  --primary-color: #004d99;
  --primary-color-dark: #003366;
  --primary-color-light: #d7e2ff;
  --contrast-orange-color: #ff5722;
  --disabled-background-color: #ccc;
  --disabled-text-color: #888;
}
