/* Default Button styles */

.button {
  background-color: var(--primary-color);
}

.button:hover:not(:disabled) {
  background-color: var(--primary-color-dark);
}

.button:disabled {
  background-color: var(--disabled-background-color);
  color: var(--disabled-text-color);
  cursor: not-allowed;
  opacity: 0.6;
}
