/* Default Button styles */

.blue.button {
  background-color: #004d99;
}

.blue.button:hover {
  background-color: #003366;
}

.green.button {
  background-color: #008000;
}

.green.button:hover {
  background-color: #006400;
}
