/* Clear button styles */

.clearButton {
  /* TODO: add cancel color, use red */
  background-color: var(--cancel-button-background);
  margin-right: 10px;
}

.clearButton:hover {
  background-color: var(--cancel-button-background-dark);
}
