.menuItem {
  display: flex;
  border: 1px solid;
  padding: 15px;
  margin-bottom: 5px;
}
.menuItem :first-child {
  flex: 70%;
}

.dishCounter {
  align-content: center;
}

.price {
  font-weight: bold;
}

.blue.menuItem {
  border-color: #d1ddff;
}
.blue.price {
  color: #004d99;
}

.green.menuItem {
  border-color: #c6efce;
}
.green.price {
  color: #008000;
}
