/* Link button style */

.linkButton {
  background: none;
  border: none;
  padding: 8px 0px;
  cursor: pointer;
  font-size: 16px;
  border-bottom: 3px solid transparent;
  transition: border-color 0.3s ease;
  text-decoration: none;
  color: var(--primary-color);
}

.linkButton.active {
  font-weight: bold;
  pointer-events: none;
  border-bottom-color: var(--primary-color);
  color: var(--primary-color-dark);
}

.linkButton:hover,
.linkButton:focus {
  background-color: var(--primary-color-light);
}
